@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

:root {
  --yellow: #f9ca24;
  --theme-color: #92dbe7;
  --theme-background: #00001a;
  --theme-navbar: #000018;
  /* --theme-navbar: #000025; */
  --theme-box: #333;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

*::selection {
  background: var(--theme-color);
  color: var(--theme-box);
}

img {
  pointer-events: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #222;
}

html::-webkit-scrollbar-thumb {
  background: var(--theme-color);
}

body {
  background: var(--theme-background);
  overflow-x: hidden;
  padding-left: 35rem;
  background-image: url(images/bg.jpg);
  background-size: contain;
}

section {
  min-height: 100vh;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.btn {
  padding: 1rem 3rem;
  background: var(--theme-box);
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
}

.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background: var(--theme-color);
  color: var(--theme-background);
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #fff4;
  color: #fff;
}

.heading span {
  color: var(--theme-color);
}

header .navbar {
  height: calc(100% - 18rem); /* Adjust the height as needed */
  overflow-y: auto;
}

header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  /* background: var(--theme-navbar); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  transition: 0.2s linear;

  backdrop-filter: blur(4px);
}

header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

header .user p {
  padding: 5px;
}

header .user .name {
  font-size: 3.5rem;
  color: #fff;
}

header .user .post {
  font-size: 1.8rem;
  color: #aaa;
}

header .navbar {
  width: 100%;
}

header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}

header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: var(--theme-background);
  color: white;
  font-size: 2rem;
  border-radius: 5rem;
}

header .navbar ul li a:hover {
  background: var(--theme-color);
  color: black;
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: var(--theme-box);
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

/* HOME */

.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 0 15rem;
}

.home h3 {
  font-size: 2.5rem;
  color: #fff;
}

.home h1 {
  font-size: 5rem;
  color: #fff;
}

.home h1 span {
  color: var(--theme-color);
}

.home p {
  font-size: 2rem;
  color: #aaa;
  line-height: 1.5;
  padding: 1rem 0;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social-links a {
  display: flex;
  align-items: center;
  margin: 0 0 rem; /* Adjust the margin as desired */
  background-color: transparent;
}

.social-links a img {
  width: 40px;
  height: 40px;
}

/* Experience */

.experience {
  padding-top: 200px;
}

.experience .box-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
}

.experience .box-container .box {
  width: 27rem;
  margin: 4rem 0.5rem;
  padding-left: 4rem;
  border-left: 0.2rem solid #fff;
  position: relative;
}

.experience .box-container .box span {
  font-size: 1.5rem;
  background: #222;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
}

.experience .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem 0;
  margin-top: 1.5rem;
}

.experience .box-container .box p,
.experience .box-container .box ul,
.experience .box-container .box li {
  font-size: 1.4rem;
  color: #eee;
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: 0;
}

.experience .box-container .box ul li {
  position: relative;
  padding-left: 1.5rem;
}

.experience .box-container .box ul li::before {
  content: "\2022";
  position: absolute;
  left: 0;
  color: #eee;
}

.experience .box-container .box i {
  position: absolute;
  top: 0;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: var(--theme-background);
  background: var(--theme-color);
}

/* Education */

.education {
  padding-top: 200px;
}

.education .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
}

.education .box-container .box {
  width: 27rem;
  margin: 4rem 0.5rem;
  padding-left: 4rem;
  border-left: 0.2rem solid #fff;
  position: relative;
}

.education .box-container .box span {
  font-size: 1.5rem;
  background: #222;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
}

.education .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem 0;
  margin-top: 1.5rem;
}

.education .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  line-height: 1.5;
}

.education .box-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: var(--theme-background);
  background: var(--theme-color);
}

/* Projects */

.projects div {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.projects div p {
  font-size: 1.6rem;
  color: var(--theme-box);
  text-align: left;
  margin: 0;
  font-weight: bold;
  color: whitesmoke;
  text-transform: uppercase;
}

.projects div a {
  margin-left: 1rem;
}

.projects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.projects .box-container .box {
  height: 20rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.projects .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.projects .box-container .box:hover img {
  transform: scale(1.2);
}

/* Open Source */

.opensource {
  padding-top: 200px;
}

.opensource .row .counter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.opensource .row .counter .box {
  width: 45%;
  background: #222;
  text-align: left;
  padding: 2rem;
  margin: 2rem;
  padding-left: 4rem;
  border-radius: 3%; /* Add border-radius property */
}

.opensource .row .counter .box span {
  font-size: 2rem;
  color: var(--theme-color);
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.opensource .row .counter .box ul {
  list-style: disc;
  padding: 0;
  margin: 0;
  text-align: left;
  padding-left: 2rem;
}

.opensource .row .counter .box li {
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.opensource .row .counter .box a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.opensource .row .counter .box a .link-svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}

.opensource .row .counter .box a:hover {
  color: var(--theme-color);
}

/* Skills */
.skills {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: white;
  border-radius: 2px;
}

.heading {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex-basis: 33.33%;
  max-width: 33.33%;
  padding: 5px;
}

.column p {
  font-size: 1.8rem;
  color: var(--theme-box);
  text-align: center;
  margin: 2rem 0;
  font-weight: bold;
  color: var(--theme-color);
  text-transform: uppercase;
}

.skills .row .box {
  background-color: #222;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.box h3 {
  margin: 0;
}

/* Coding profiles */

.coding {
  padding-top: 200px;
}

.coding .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.coding .row .counter .box h3 .logo-svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.coding .row .info h3 span {
  color: #eee;
  padding: 0 0.5rem;
}

.coding .row .counter {
  flex: 1 1 48rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.coding .row .counter .box span {
  font-size: 4rem;
  color: var(--theme-color);
}

.coding .row .counter .box h3 {
  font-size: 2rem;
  color: #fff;
}

.link-svg {
  width: 2rem;
  height: 2rem;
}

.coding .row .info {
  flex: 1 1 48rem;
  padding: 2rem;
}

.coding .row .counter .box h3 {
  font-size: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem; /* Add margin-top property */
}

.coding .row .counter .box {
  width: 20rem;
  background: #222;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contact Me */

.contact {
  padding-top: 150px;
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
  padding-bottom: 150px;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.contact .row form .box {
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 2%;
  background: var(--theme-box);
  color: #fff;
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}

.contact .row form .message {
  height: 15rem;
  resize: none;
}

.contact .row .content .title {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
  font-weight: normal;
}

.contact .row .content .info h3 i {
  padding-right: 1rem;
  color: var(--theme-color);
}

.contact .row .content .info h3:first-child {
  text-transform: lowercase; /* Convert email to lowercase */
}

/* Back to top */

.top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  display: none;
  height: 4rem;
}

/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home {
    padding: 1rem 4rem;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }

  #menu {
    display: block;
  }

  header.toggle {
    left: 0%;
  }

  body {
    padding: 0;
    background: var(--theme-background-mobile);
    background-image: url(images/bg-phone.jpg);
    background-size: contain;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
  }

  .heading {
    margin: 0 3rem;
  }

  .about .row .counter .box {
    width: 100%;
  }

  .experience .box-container .box {
    width: 100%;
  }

  .education .box-container .box {
    width: 100%;
  }

  .projects .box-container .box {
    width: 100%;
  }

  .contact .row form {
    margin: 3rem 0;
  }

  .opensource .row .counter .box {
    width: 100%;
  }

  .coding .row .counter .box {
    width: 100%;
  }
}
